---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<style lang="scss">
			.hero {
				padding: 10rem;
				display: flex;
				background-color: var(--t-fg);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				min-height: 50vw;
				color: black;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.tag {
				margin-left: 0.5em;
				margin-right: 0.5em;
				text-transform: uppercase;

				
			}

			.title {
				font-size: var(--f-u10);
				font-weight: 900;
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: 0.0625em;
			}

			.leadIn {
				margin-top: 1%;
				color: var(--t-bg);
				background-color: var(--t-fg);
			}

			.tagline {
				font-weight: 300;
				font-size: var(--f-u3);
				line-height: 1.5;
			}
			.author {
				color: black;
				font-size: var(--f-u3);
				line-height: 2.2;
			}
			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<i><h1 class="title">{content.title}</h1></i>
		<h1 class="author"><span class="author">By: {content.author.map((t) => <b> {t}</b>)}</span></h1>
		<header style={`background-image:url(${content.img})`} class="hero">
			
		</header>
		<div class="leadIn">
			
			<div class="wrapper pt4 pb8 mb4 tac">
				<h3 class="tagline"><b>Description</b></h3>
				<h3 class="tagline">{content.description}</h3>
				{content.tags.map((t) => <span class="tag">{t}</span>)}
				
				
			</div>
		</div>
		<div class="wrapper wrapper__readable">
			
			<div class="content"><slot /></div>
		</div>
		<div class="wrapper wrapper__readable">
			
			
		</div>
		<Footer/>
	</body>
</html>
